:root {
    --header-link: #2436B1;

    --shadow: 0px 4px 16px rgba(5, 0, 56, 0.12);
    --page: #fff;
    --focus: 0px 0px 0px 4px #D9E0FF, inset 0px 0px 0px 2px #6881FF, inset 0px 0px 0px 3px #FFFFFF;
    --text: #050038;
    --text-inverted: #fff;

    --static-text: #050038;
    --static-text-inverted: #fff;

    --static-link: #050038;
    --static-link-inverted: #fff;

    --static-btn: #050038;
    --static-btn-inverted: #fff;

    --bg-subtle: #fff;
    --bg-subtle-hover: #e7e7e7;
    --bg-subtle-active: #d8d8d8;

    --border: #c7c7d1;
    --border-hover: #afaeb8;
    --border-active: #9897a4;

    --icon: #020c35;
    --icon-prominent: #3859ff;

    --static-danger-prominent: #d92342;
    --static-warning-prominent: #ffce00;
}

.expanded {
    --header-link: #96a5f2;

    --focus: 0px 0px 0px 4px #2c3f9e, inset 0px 0px 0px 2px #6182ff, inset 0px 0px 0px 3px #0f0f0f;
    --page: #303030;
    --text: #dedede;

    --icon: #b5b5b5;
    --icon-prominent: #8091ea;

    --bg-subtle: transparent;
    --bg-subtle-hover: #616161;
    --bg-subtle-active: #303030;

    --border: #878787;
    --border-hover: #777777;
    --border-active: #303030;
}

.header ul li a:focus-visible {
    appearance: none;
    outline: none;
    box-shadow: var(--focus);
}

* {
    box-sizing: border-box;
}

body {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' fill='%23F6F6F6'/%3E%3Crect x='5' y='5' width='2' height='2' rx='1' fill='%23D7D7D7'/%3E%3C/svg%3E%0A");
    background-size: 12px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
    box-sizing: border-box;
    position: relative;
    color: var(--static-text);
}

.row {
    display: flex;
    flex-direction: row;
    gap: 24px;
    max-width: fit-content;
    align-items: flex-start;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 24px;
}

.group>p {
    margin: 16px 0;
}

.group ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.group ul li {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.header {
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 24px 0;
}

.header h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    margin: 0;
    color: var(--text);
}

.header h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    margin: 0;
    color: var(--text);
}

.header ul {
    display: flex;
    gap: 16px;
    flex-direction: row;
    background: var(--page);
    border-radius: 4px;
    padding: 8px 16px;
    box-shadow: var(--shadow);
    width: fit-content;
    min-height: 36px;
    align-items: center;
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 9;
    min-height: 56px;
}

.header ul li {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    list-style-type: none;
}

.header ul li a {
    text-decoration: none;
    color: var(--header-link);
    border-radius: 2px;
    padding: 0 8px;
    height: 32px;
    display: flex;
    line-height: 32px;
}

.header ul li.current a {
    background: #3859FF;
    color: var(--text-inverted);
}

/* Global styles for the components */

.btn {
    height: 40px;
    min-width: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    cursor: pointer;
    background-color: var(--bg-subtle);

    /* testing text */

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-weight: 400;
}

.btn:focus-visible {
    appearance: none;
    outline: none;
    box-shadow: var(--focus);
}

.btn:hover {
    background-color: var(--bg-subtle-hover);
}

.btn:active {
    background-color: var(--bg-subtle-active);
}

.btn svg {
    width: 24px;
    height: 24px;
}

.btn svg path {
    stroke: var(--icon);
}

.btn.expanded svg path {
    stroke: #3859FF;
}

.outline {
    border: 1px solid;
    border-color: var(--border);
}

.outline:hover {
    border-color: var(--border-hover);
}

.outline:active {
    border-color: var(--border-active);
}

h2 {
    font-family: 'Formular';
    font-family: 'Open Sans', sans-serif;
    color: var(--static-text);

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 135%;
    margin: 0;
    line-height: 24px;
    gap: 16px;
    display: flex;
    align-items: center;
}

h2 svg path {
    stroke: var(--icon-prominent);
}

p {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    color: var(--static-text);
}
