.divider {
    height: 1px;
    width: 100%;
    background: var(--colors-border-neutrals-subtle);
}

form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    gap: 4px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

[type="radio"]:checked+.actions-container,
[type="radio"]:not(:checked)+.actions-container {
    position: relative;
}

.menu-item {
    position: relative;
}

[type="radio"]:checked+.actions-container .radiobutton,
[type="radio"]:not(:checked)+.actions-container .radiobutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 2px;
    gap: 10px;
    position: relative;
    margin: 4px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--colors-border-neutrals-controls);
    border-radius: 10px;
    box-sizing: border-box;
}

[type="radio"]:checked+.actions-container .radiobutton {
    border: 1px solid var(--colors-border-primary);
}

.menu-item:hover [type="radio"]:checked+.actions-container .radiobutton,
.menu-item:hover [type="radio"]:not(:checked)+.actions-container .radiobutton {
    border: 1px solid var(--colors-border-primary-hover);
}

.menu-item:hover [type="radio"]:checked+.actions-container .radiobutton:after {
    background: var(--colors-background-primary-prominent-hover);
}

[type="radio"]:checked+.actions-container .radiobutton:after,
[type="radio"]:not(:checked)+.actions-container .radiobutton:after {
    content: '';
    width: 8px;
    height: 8px;
    background: var(--colors-background-primary-prominent);
    position: absolute;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+.actions-container .radiobutton:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+.actions-container .radiobutton:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.maxheight {
    max-height: 236px;
    overflow-y: scroll;
    height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--colors-background-neutrals-scrolls);
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--colors-background-neutrals-scrolls-hover);
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: fit-content;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 100%;
}

.placeholder-field {
    min-height: 40px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgba(236, 238, 247, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
}

.placeholder-field p {
    padding: 8px 0;
    margin: 0;
    color: #bdbcd4;
}

.container {
    background: var(--colors-background-neutrals-container);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    box-shadow: var(--shadow);
    gap: 12px;
    width: fit-content;
}

.menu-item {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    max-width: 272px;
    border-radius: 4px;
    padding-right: 8px;
    cursor: pointer;
    background-color: var(--colors-background-neutrals-container);
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--colors-text-neutrals);
    width: 100%;
    box-sizing: border-box;
}

.menu-item:focus-visible {
    appearance: none;
    outline: none;
    box-shadow: var(--focus);
}

.menu-item svg.icon {
    width: 16px;
    height: 16px;
}

.menu-item svg.icon path {
    stroke: var(--colors-icon-neutrals-with-text);
}

.menu-item svg.icon path[fill="black"] {
    fill: var(--colors-icon-neutrals-with-text);
}

.menu-item svg.icon rect {
    fill: var(--colors-icon-neutrals-with-text);
}

.menu-item:hover {
    background-color: var(--colors-background-primary-subtle);
}

.menu-item:active {
    background-color: var(--colors-background-primary-subtle-hover);
}

.menu-item:hover span:not(.subtext) {
    color: var(--colors-text-primary-hover);
}

.menu-item:active span:not(.subtext) {
    color: var(--colors-text-primary-active);
}

.menu-item:hover svg.icon path {
    stroke: var(--colors-icon-primary-hover);
}

.menu-item:hover svg.icon rect {
    fill: var(--colors-icon-primary-hover);
}

.menu-item:hover svg.icon path[fill="black"] {
    fill: var(--colors-icon-primary-hover);
}

.menu-item .icon-container {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    min-width: 24px;
}

.menu-item+.menu-item.icon .icon-container {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    min-width: 52px;
    justify-content: center;
    align-items: center;
}

span {
    user-select: none;
}

.menu-item .label-container {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1;
}

.menu-item .label-container .subtext {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--colors-text-neutrals-subtle);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.menu-item .actions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 40px;
    padding-left: 16px;
    min-width: 8px;
}

.menu-item .hotkey-container span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    color: var(--colors-text-neutrals-subtle);
}

.arrow-icon-container {
    overflow: hidden;
    min-height: 40px;
    width: 8px;
    position: relative;
}

.arrow-icon-container svg.icon {
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}